# note some files ignored here will at some point be included (such as 
# everything in dist), but have been left out for the time being in order
# to minimise the size of the git repo
assets/*
assets/**/*
!*.svg
!assets/IMG_0717_edited.jpg
dist/*
yonacommitmsg.txt
*.yona
**/jaeha.*
jaeha.*
