* {
	--popup-bg: rgba(255,255,255,0.4);
	--data-bg: rgba(0,0,0,0.8);
	--data-text: white;
	--legend-bg: white;
	--legend-text: black;
}

body {
	background-image: url("./Background.jpg");
	background-size: cover;
	color: black;
	font-family: Arial;
	font-weight: bold;
}

header {
	background-color: var(--popup-bg);
	padding: 1rem 5px;
}

#page-title {
	text-align: center;
	font-size: 4rem;
}

/* new game form styling */
select,
input,
button {
	padding: 3px 6px;
	margin: 0 -2px;
	border: none;
	background: var(--data-bg);
	color: var(--data-text);
	font-weight: bold;
}

.form-legend {
	background: var(--legend-bg);
	color: var(--legend-text);
	margin: 0 -2px;
	padding: 2px 3px;
}

/* new game menu */
#new-game-form {
	padding: 1rem;
}

#new-game-form > span {
	padding: 0 0.3rem;
	margin: 0.3rem 0.5rem;
	display: inline-block;
}

#numBombs-Selector {
	width: 3rem;
}

#size-Selector {
	width: 6rem;
}

/* indicators */
#current-game-state {
	font-size: 2rem;
}
.data-and-legend {
	margin: 0.5rem 1rem;
	display: inline-block;
	width: 20rem;
}

.game-state-legend {
	background: var(--legend-bg);
	color: var(--legend-text);
	padding: 3px 9px;
}
.game-state-indicator {
	margin: 0 -9px;
	padding: 3px 9px;
	background: var(--data-bg);
	color: var(--data-text);
}


#instructions {
	background: var(--popup-bg);
	padding: 5px;
}

#instructions-exit {
	display: flex;
	justify-content: center;
}

#instructions-exit > button {
	font-size: 1.2rem;
}
