body {
	background-image: url(".\\assets\\IMG_0717_edited.jpg");
	background-size: cover;
	color: yellow;
}

#page-title {
	text-align: center;
	font-size: 4rem;
	color: yellow;
	font-family: tahoma;
}

#numBombs-Input {
	width: 3rem;
}

#size-Selector {
	width: 6rem;
}
