body {
	background-image: url("./assets/IMG_0717_edited.jpg");
	background-size: cover;
	color: yellow;
	font-weight:bold;
}

#page-title {
	text-align: center;
	font-size: 4rem;
	color: yellow;
	font-family: tahoma;
}

/* new game menu */
#new-game-options {
	padding: 1rem;
}

#new-game-options > span {
	padding: 0 0.3rem;
}

#numBombs-Selector {
	width: 3rem;
}

#size-Selector {
	width: 6rem;
}

/* indicators */
#current-game-state {
	font-size: 2rem;
	font-weight: bold;
}

#current-game-state > span {
	padding: 0px 4rem 1rem 1rem;
}


#instructions {
	background: rgba(255,255,255,0.4);
	color: black;
}
